/* шрифты */

@font-face {
  font-family: "roboto";
  src: url(./fonts/roboto/Roboto_Condensed-Medium.ttf) format(truetype);
  font-weight: 500;
}

@font-face {
  font-family: "roboto_reg";
  src: url(./fonts/roboto/Roboto_SemiCondensed-Regular.ttf) format(truetype);
  font-weight: 400;
}

@font-face {
  font-family: "roboto_bold";
  src: url(./fonts/roboto/Roboto_SemiCondensed-Bold.ttf) format(truetype);
  font-weight: 700;
}

/* скелет страницы */

* {
  padding: 0;
  margin: 0;
}

body {
  margin: auto;
  padding: 95px 136px 172px 136px;
  width: 1392px;
}

/* скелет шапки  */

header article section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
}

/* скелет навигации */
header article section nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 385px;
  height: 35px;
}

/* шапка элементы навигации */
header article section nav p {
  font-family: 'roboto';
  font-weight: 500;
  font-size: 22px;
  letter-spacing: -3%;
}

/* шапка лого */
header article section h1 {
  font-family: "roboto";
  font-weight: 500;
  font-size: 50px;
  letter-spacing: -3%;
}

/* Первый див скелет*/

main article section .fs_main {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  align-items: flex-start;
  margin-top: 147px;
  height: 458px;
}

/* Первый слева */


main article section .fs_main .fs_left {
  width: 575px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

main article section .fs_main .fs_left p {
  color: #606060;
  margin-top: 47px;
  font-family: 'roboto_reg';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: -3%;
}

main article section .fs_main .fs_left h1 {
  color: #181717;
  font-family: 'roboto';
  font-weight: 500;
  font-size: 60px;
  letter-spacing: -3%;
}

/* Первый справа */

main article section .fs_main .fs_right {
  background-color: #606060;
  width: 406px;
  height: 457px;
}

/* Второй див */

/* Второй сверху */

main article section .ss_main .ss_up {
  display: flex;
  align-content: flex-start;
  height: 77px;
  margin-top: 69px;
}

main article section .ss_main .ss_up .ss_p1 {
  margin-right: 63px;
  font-family: 'roboto';
  font-weight: 500;
  font-size: 22px;
  letter-spacing: -3%;
  text-decoration: underline;
  text-decoration-style: solid;
}

main article section .ss_main .ss_up .ss_p2 {
  font-family: 'roboto_reg';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: -3%;
}

/*Второй снизу */

main article section .ss_main .ss_down {
  display: flex;
  align-content: flex-start;
  height: 77px;
  margin-top: 86px;
}

main article section .ss_main .ss_down .ss_p1_1 {
  margin-right: 63px;
  font-family: 'roboto';
  font-weight: 500;
  font-size: 22px;
  letter-spacing: -3%;
  text-decoration: underline;
  text-decoration-style: solid;
}

main article section .ss_main .ss_down .ss_p2_2 {
  font-family: 'roboto_reg';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: -3%;
}

/* Третий див */
main article section .ts_main {
  margin-top: 110px;
  height: 144px;
  display: flex;
  align-items: flex-end;
  border-top: 2px solid #181717;
}

main article section .ts_main .ts {
  width: 100%;
  display: flex;
  align-content: flex-start;
}

main article section .ts_main .ts .ts_left {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

main article section .ts_main .ts .ts_left .image {
  margin: 0px 392px 0px 41px;
  background-image: url(./SVG/image.svg);
  width: 24px;
  height: 21px;
}

main article .ts_main .ts .ts_left h2 {
  color: #181717;
  font-family: 'roboto_reg';
  font-weight: 400;
  font-size: 32px;
  letter-spacing: -3%;
}

main article .ts_main .ts .ts_right h2 {
  color: #181717;
  font-family: 'roboto_reg';
  font-weight: 400;
  font-size: 32px;
  letter-spacing: -3%;
}

/* Футтер */

footer article section {
margin-top: 135px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer article section .right {
  display: flex;
  align-content: flex-end;
}

footer article section  .left p {
  color: #2429af;
  font-family: 'roboto';
  font-weight: 500;
  font-size: 22px;
  letter-spacing: -3%;
}

footer article section  .right p { 
    font-family: 'roboto';
    font-weight: 500;
    font-size: 21px;
    letter-spacing: -3%;
    color: #181717;
    }

footer article section  .right .p_1 { 
    margin-left: 32px;
}
