* {
  padding: 0;
  margin: 0;
}

body {
  margin: auto;
  padding: 102px 131px 176px 131px;
  width: 1382px;
}

header section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
}

header section div {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 385px;
  height: 35px;
}

header section div p {
  font-family: DM Sans, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 22px;
  letter-spacing: -3%;
}

header section h1 {
  font-family: DM Sans, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 50px;
  letter-spacing: -3%;
}

/* Секция  */

main section {
  margin-top: 52px;
}

/* Текст над инпутами  */
main section .contact h1 {
  font-family: DM Sans, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 60px;
  letter-spacing: -3%;
  color: #181717;
}

main section .contact p {
  margin-top: 32px;
  font-family: DM Sans, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: -3%;
  color: #606060;
}

/* Все элементы в секции  */

main section .inp {
  margin-top: 52px;
  display: flex;
}

main section .inp .inp_et {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
}

main section .inp .inp_p {
  width: 352px;
  margin-left: 90px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
}

/* инпуты */

main section .inp .inp_et input:focus::placeholder {
  visibility: hidden;
  width: 100%;
  color: black;
  border-color: black;
  outline: none;
  border-width: 1px;
  border-radius: 5px;
  border-style: solid;
  padding: 17px 0px 15px 27px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 15px;
}

main section .inp .inp_et input:focus {
  max-width: 100%;
  color: black;
  border-color: black;
  outline: none;
  border-width: 1px;
  border-radius: 5px;
  border-style: solid;
  padding: 17px 0px 15px 27px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 15px;
}

main section .inp .inp_et input {
  max-width: 100%;
  border-width: 1px;
  border-radius: 5px;
  border-style: solid;
  padding: 17px 0px 15px 27px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 15px;
  outline: none;

  color: black;
  border-color: #c4c4c4;
}

/* кнопка */

main section .inp .inp_et button {
  display: block;
  width: 162px;
  height: 42px;
  border-radius: 5px;
  border-style: solid;
  background-color: #000000;
  color: #ffffff;
  margin-top: 27px;
  font-family: DM Sans, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 18px;
}

[type="text"] {
  margin-top: 30px;
}

/* Параграфы в секции */

main section .inp .inp_p p {
  width: 352px;
  font-family: DM Sans, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: -3%;
  color: #606060;
}

main section .inp .inp_p .p_1 {
  height: 76px;
}

main section .inp .inp_p .p_2 {
  margin-top: 6px;
}

/* футтер */
footer section {
  margin-top: 135px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer section .right {
  display: flex;
  align-content: flex-end;
}

footer section .left p {
  color: #2429af;
  font-family: DM Sans, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 22px;
  letter-spacing: -3%;
}

footer section .right p {
  font-family: DM Sans, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 21px;
  letter-spacing: -3%;
  color: #181717;
}

footer section .right .p_1 {
  margin-left: 32px;
}
