/* шрифты */

@font-face {
  font-family: "roboto";
  src: url(./fonts/roboto/Roboto_Condensed-Medium.ttf) format(truetype);
  font-weight: 500;
}

@font-face {
  font-family: "roboto_reg";
  src: url(./fonts/roboto/Roboto_SemiCondensed-Regular.ttf) format(truetype);
  font-weight: 400;
}

@font-face {
  font-family: "roboto_bold";
  src: url(./fonts/roboto/Roboto_SemiCondensed-Bold.ttf) format(truetype);
  font-weight: 700;
}

/* скелет страницы */

* {
  padding: 0;
  margin: 0;
}

body {
  margin: auto;
  padding: 102px 131px 176px 131px;
  width: 1120px;
}

/* скелет шапки */

header article section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
}

/* скелет навигации */
header article section div {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 385px;
  height: 35px;
}

/* элементы шапки */

header article section div p {
  font-family: "roboto";
  font-weight: 500;
  font-size: 22px;
  letter-spacing: -3%;
}

header article section h1 {
  font-family: "roboto";
  font-weight: 500;
  font-size: 50px;
  letter-spacing: -3%;
}

/* основная секция  */

main article section {
  margin-top: 52px;
}

/* скелет секции */

main section .inp {
  margin-top: 52px;
  display: flex;
}

main article section .inp .inp_et {
  width: 678px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
}

main article section .inp .inp_p {
  width: 352px;
  margin-left: 90px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
}

/* Текст над инпутами  */
main article section .contact h1 {
  font-family: "roboto";
  font-weight: 500;
  font-size: 60px;
  letter-spacing: -3%;
  color: #181717;
}

main article section .contact p {
  margin-top: 32px;
  font-family: "roboto_reg";
  font-weight: 400;
  font-size: 22px;
  letter-spacing: -3%;
  color: #606060;
}

/* инпуты */

main article section .inp .inp_et input:focus::placeholder {
  visibility: hidden;
  width: 100%;
  color: black;
  border-color: black;
  outline: none;
  border-width: 1px;
  border-radius: 5px;
  border-style: solid;
  padding: 17px 0px 15px 27px;
  font-family: "roboto_reg";
  font-weight: 400;
  font-size: 15px;
}

main article section .inp .inp_et input:focus {
  max-width: 100%;
  color: black;
  border-color: black;
  outline: none;
  border-width: 1px;
  border-radius: 5px;
  border-style: solid;
  padding: 17px 0px 15px 27px;
  font-family: "roboto_reg";
  font-weight: 400;
  font-size: 15px;
}

main article section .inp .inp_et input {
  max-width: 100%;
  border-width: 1px;
  border-radius: 5px;
  border-style: solid;
  padding: 17px 0px 15px 27px;
  font-family: "roboto_reg";
  font-weight: 400;
  font-size: 15px;
  outline: none;

  color: black;
  border-color: #c4c4c4;
}

/* кнопка */

main article section .inp .inp_et button {
  display: block;
  width: 162px;
  height: 42px;
  border-radius: 5px;
  border-style: solid;
  background-color: #000000;
  color: #ffffff;
  margin-top: 27px;
  font-family: "roboto_bold";
  font-weight: 700;
  font-size: 18px;
}

[type="text"] {
  margin-top: 30px;
}

/* Параграфы в секции */

main article section .inp .inp_p p {
  font-family: "roboto_reg";
  font-weight: 400;
  font-size: 22px;
  letter-spacing: -3%;
  color: #606060;
}

main article section .inp .inp_p .p_1 {
  height: 76px;
}

main article section .inp .inp_p .p_2 {
  margin-top: 6px;
}

/* футтер скелет*/

footer article section {
  margin-top: 135px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* слева */

footer article section .left p {
  color: #2429af;
  font-family: "roboto";
  font-weight: 500;
  font-size: 22px;
  letter-spacing: -3%;
}

/* справа */

footer article section .right {
  display: flex;
  align-content: flex-end;
}

footer article section .right p {
  font-family: "roboto";
  font-weight: 500;
  font-size: 21px;
  letter-spacing: -3%;
  color: #181717;
}

footer article section .right .p_1 {
  margin-left: 32px;
}
